.login__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    background-color: #f3ece7;
    color: #8b7969;
    min-height: 100vh;
}

.login__title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: normal;
}

.login__form-container {
    background-color: #ffffff;
    border: 1px solid #C5B9B0;
    border-radius: 6px;
    width: 90%;
    max-width: 750px;
    padding: 60px 100px;
}

.login-form__group {
    margin-bottom: 30px;
}

.login-form__label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.login-form__input {
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
    border: none;
    background-color: #f5f5f5;
    color: #8b7969;
}

.login-form__input::placeholder {
    color: #b9b1ab;
}

.login-form__button-wrapper {
    text-align: center;
    margin-top: 40px;
}

.login-form__button {
    background-color: #8B7969;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 12px 50px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form__button:hover {
    background-color: #b49c8e;
}

@media (max-width: 600px) {
    .login__form-container {
        width: 90%;
        padding: 30px 20px;
    }

    .login__title {
        font-size: 22px;
    }

    .login-form__button {
        width: 100%;
    }
}

.login__error {
    font-size: 14px;
    color: #c94a4a;
    margin-top: 6px;
    display: block;
}