.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal.is-active {
    display: flex;
}

.modal__content {
    position: relative;
    background: #ffffff;
    padding: 40px 50px;
    width: 700px;
    max-height: 100vh;
    overflow-y: auto;
    border: 1px solid#8B7969;
}

/* モーダル内の内容 */
#modalContent {
    margin-top: 20px;
}

.modal__table {
    width: 100%;
    border-collapse: collapse;
}

.modal__row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.modal__label {
    font-weight: bold;
    color: #555;
    width: 35%;
}

.modal__value {
    width: 60%;
    color: #333;
    word-wrap: break-word;
}

/* ボタンエリア */
.modal__actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.modal__button {
    padding: 10px 25px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.modal__button--delete {
    background-color: #e74c3c;
    color: #fff;
}

.modal__button--delete:hover {
    background-color: #c0392b;
}

.modal__button--close {
    position: absolute;
    top: 15px;
    right: 20px;
    background: #fff;
    border: 1px solid #8B7969;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #8B7969;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.modal__button--close:hover {
    background: #f7f6f5;
}